<h1>Edit Article</h1>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<p>Submit when you are finished with your edits. </p>
<%= render "form", article: @article %>
